* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edeef3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 21px;
  color: #393939;
  font-weight: 400;
}

.form {
  display: flex;
  background: #ffffff;
  gap: 25px;
  padding: 24px;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
}

.form__input {
  display: block;
  width: 640px;
  height: 38px;
  outline: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 9px 31px 8px 14px;
  box-shadow: none;
  transition: 0.2s;
}

.form__button {
  height: 39px;
  padding: 10px 16px;
  color: #ffffff;
  border: none;
  font-family: "Inter";
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  border-radius: 4px;
  transition: 0.2s;
  width: 166px;
  background: #272829;
}

.form__button:hover {
  background: #8a8080;
}

.cards__wrapper {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1024px;
  margin: 0 auto;
  gap: 22px 19px;
}
.card {
  width: 300px;
  min-height: 184px;
  border: 1px solid rgb(48, 48, 48);
  padding: 10px;
  display: block;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 4px;
  transition: 0.5s;
}

.invert {
  background-color: #8a8080;
  color: #ffffff;
  box-shadow: 0 0 6px rgb(8, 4, 4);
}

.card__title {
  font-size: 17px;
  line-height: 28px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__text {
  font-size: 13px;
  line-height: 17px;
  max-width: 268px;
}

.card__check {
  margin: 15px 0 0;
}

.selected {
  display: block;
  width: 40px;
  height: 38px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 9px 31px 8px 14px;
  text-align: center;
}
